<div class="paint">
    <app-starfield></app-starfield>
    <ng-container *ngIf="view$ | async as view">
        <div style="z-index: 99999;">
            <div *ngIf="view.location" class="course">Currently in {{view.location}}</div>
            <div *ngIf="view.course" class="course">Course: {{view.course}}</div>
            <img *ngIf="view.leftImage" [src]="view.leftImage" alt="" class="satellite left" @fade>
            <img *ngIf="view.centerImage" [src]="view.centerImage" alt="" class="planetoid" @fade>
            <img *ngIf="view.rightImage" [src]="view.rightImage" alt="" class="satellite right" @fade>
            <img *ngIf="view.laser" src="/assets/laser.gif" alt="" class="effect">
            <img *ngIf="view.tractor" src="/assets/tractor.gif" alt="" class="effect tractor">
        </div>
    </ng-container>
</div>
<app-lasers-widget></app-lasers-widget>