:host{
    height: 30vh;
    position: relative;
}

.bars{
    fill: url(#deci);
    stroke: cyan;
    stroke-width: 1px;
}
svg stop{
    transition: 1s;
}
.percent-0 stop{
    &:nth-child(1){
        stop-color: red;
    }
    &:nth-child(2){
        stop-color: red;
    }
    &:nth-child(10){
        stop-color: red;
    }
    &:nth-child(11){
        stop-color: red;
    }
}
@for $i from 1 through 10 {
    .percent-#{$i} stop{
        @for $n from 1 through 11 {
            &:nth-child(#{$n}){
                @if $i+1 >= $n{
                    stop-color: #0ff;
                } @else {
                    stop-color: #000;
                }
            }
        }
    }
}